body {}
        
        h1 {
            font-family: 'Questrial', sans-serif;
            color: #f2f1ef;
            font-size: 1.5em;
            font-weight: 400;
            vertical-align: top;
            line-height: 1.5em;
        }
        
        h2 {
            font-family: 'Questrial', sans-serif;
            color: #f2f1ef;
            font-size: 1em;
            font-weight: 400;
            vertical-align: top;
            line-height: 1.5em;
            display: inline;
        }
        
        h3 {
            font-family: 'Questrial', sans-serif;
            color: #f2f1ef;
            font-size: .75em;
            font-style: bold;
            vertical-align: top;
            line-height: 2em;
            display: inline;
        }
        
        p {
            font-family: 'Questrial', sans-serif;
            color: #f2f1ef;
            font-size: 1em;
            font-weight: 400;
            vertical-align: top;
            line-height: 1.5em;
        }
        
        a:link {
            text-decoration: none;
            color: #f2f1ef;
            border-bottom: 2px solid #e2c044;
        }
        
        a:visited {
            text-decoration: none;
            color: #f2f1ef;
            border-bottom: 2px solid #e2c044;
        }
        
        a:hover {
            color: #e2c044;
            background: -webkit-linear-gradient(-45deg, rgba(249, 42, 130, 1) 0%, rgba(226, 192, 68, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-bottom: 2px solid #e2c044;
        }
        
        a:active {
            color: #e2c044;
            border-bottom: 2px solid #e2c044;
        }
        
        a.show:link {
            font-family: 'Questrial', sans-serif;
            font-size: 1em;
            font-weight: 400;
            color: #f2f1ef;
            border-bottom: 2px solid #e2c044;
        }
        
        a.show:visited {
            color: #f2f1ef;
            border-bottom: 2px solid #e2c044;
        }
        
        a.show:hover {
            border-bottom: 2px solid #e2c044;
        }
        
        a.show:active {
            color: #e2c044;
            border-bottom: 2px solid #e2c044;
        }
        
        #nav {
            position: fixed;
            margin: 19% 0 0 5%;
            display: block;
            vertical-align: center;
            z-index: 1;
        }
        
        .navi {
            font-family: 'Roboto', sans-serif;
            font-size: 0.75em;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            white-space: nowrap;
            width: 80%;
        }
        
        .navL {
            display: block;
            padding: 0.5em 1em;
            text-decoration: none;
            text-align: left;
            margin-bottom: 0.5em;
        }
        
        #home {
            top: 0;
            width: 100%;
            z-index: -1;
            background-color: #121113;
            display: inline-block;
            height: 100vh;
            overflow: visible;
            outline: #121113 solid 0.55em;
        }
        
        #portfolio {
            width: 100%;
            display: inline-block;
            min-height: 100vh;
            overflow: visible;
            background-color: #393e41;
            z-index: -1;
            outline: #393e41 solid 0.55em;
        }
        
        #fun {
            width: 100%;
            display: inline-block;
            min-height: 100vh;
            overflow: hidden;
            background-color: #272727;
            z-index: 1;
            outline: #272727 solid 1em;
        }
        
        #contact {
            width: 100%;
            display: inline-block;
            min-height: 100vh;
            overflow: hidden;
            background-color: #40434e;
            z-index: 1;
            outline: #40434e solid 1em;
        }
        
        #box {
            margin: 20% 0 10% 30%;
            display: inline-block;
            width: 50vw;
        }
        
        .table {
            display: table;
            max-width: 100%;
        }
        
        .row {
            display: table-row;
        }
        
        .cell {
            border: none;
            display: table-cell;
            padding: 0.75em 0.75em;
        }
        
        .cell:nth-child(odd) {
            white-space: nowrap;
        }
        
        ul {
            list-style-type: none;
        }
        
        li {
            text-decoration: none;
            list-style-type: none;
        }
        
        .tbody {
            display: table-row-group;
        }
        
        .showme {
            display: none;
        }
        
        .showme:target {
            display: initial;
        }
        
        #thumbwrap {
            margin: 0 auto;
            width: 100%;
        }
        
        .thumb {
            float: left;
            /* must be floated for same cross browser position of larger image */
            position: relative;
            margin: 0.5em;
        }
        
        .thumb img {
            border: 0;
            vertical-align: bottom;
        }
        
        .thumb:hover {
            border: 0;
            z-index: 1;
        }
        
        .thumb span {
            position: absolute;
            visibility: hidden;
        }
        
        .thumb:hover span {
            visibility: visible;
            top: 1.5em;
            left: 1.5em;
        }
